:root {
    --background: rgb(0, 0, 0);
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #535353;
    --text-color-menu-mobile: #E1E1E6;

    --font-primary: "Manrope", serif;
  }




 