@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}






.logo{
    position: absolute;
    left:0
}



header{
    width: 918px;    /* ajustar mobile para 100% */
    height: 50px;
    background-color:rgba(255, 0, 0, 0.048);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 31px;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}

.menu ul{
    display: flex;
    align-items: center;
    
    
}

.menu li{
    height:inherit;
    margin:1rem; 
}

.menu a{
    /* color:var(--text-color); */
}

.button{
    position:absolute;
    right: 0;
    padding: 11px 38px;


    border: 1px solid #8257E5;
    box-sizing: border-box;
    border-radius: 6px;

}





/* banner */


.banner {
    position: absolute;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
}

.title-mobile-only{
    display:none;
}

.title {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:20rem;
}

.img-coffee {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:0;
}

.blur-left {
    width:25rem;
    height:20rem;
    position:absolute;
    left:0;
    bottom:0;
    transform:translateY(-50%)
}

.blur-right {
    width:20rem;
    height:20rem;
    position:absolute;
    right:0;
    top:0;
    transform: translateY(-50%)
}